<section class="grey column">
    <div class="ui container">
        <div class="ui grid centered">
            <div class="row"></div>
            <h3>Accéder à un test utilisant le code donné par votre enseignant</h3>
            <div class="row ">
                <div class="eight wide centered column">
                    <form class="ui form center aligned" action="" method="POST">
                        <div class="field">
                            <div class="ui search">
                                <div class="ui icon input">
                                    {{!-- value="5c26b83db7cd0aae54c24449" --}}
                                    <input  class="prompt" type="text" placeholder="inserer le code ici" name="test"
                                        style="border-radius: 500rem;">
                                    <i class="clipboard icon"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- hna les cartes -->



            <div class="row"></div>


        </div>
        <div class="segment ui">
            <h3>Liste des tests</h3>
            <h4>Utiliser le code en dessus pour accéder et passer un examen</h4>

<div class="ui cards four">
  {{#each instances}}
    <div class="card">
    <div class="content">
      <span class="right floated  ui" ><i class=" icon certificate"></i>{{score}}</span>
      <div class="header">
        {{test}}
      </div>
      <div class="meta">
          {{date}}
      </div>
      <div class="description">
        
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        {{!-- <a class="ui basic green button" href="/testInstances/details/{{id}}">Consulter</a> --}}
        {{!-- <a class="ui basic green button" href="/testInstances/pret/{{id}}">Consulter</a> --}}
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

        </div>
    </div>
</section>
<script>


</script>