<section class="body grey column">
    <div class="ui container">
        <form action="/reponses" method="post">
            <input type="hidden" name="test" value="{{test.id}}">
            <input type="hidden" name="testInstance" value="{{instance.id}}">
            {{!-- <div class="ui segment">
                <h3>test</h3>
                <p>{{test.id}}</p>
                <h3>testInstance</h3>
                <p>{{instance.id}}</p>
            </div> --}}
            <div class="ui segment">
                <h2 class="ui header">Passer l'examen : {{test.nom}}
                </h2>
                <h2 class="ui right aligned" id="duree"> <span id="duree">{{test.duree}}</span> min</h2>

                <div class="ui segment ">
                    <h3 class="ui header center aligned green">
                        {{test.messageDebut}}
                    </h3>
                </div>
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui vertical fluid tabular menu">
                            {{!-- hna les tabs --}}
                            {{#each instance.questions}}
                            <a class="item {{#if @first }}active{{/if}} " data-tab="{{_id}}">
                                question {{inc @index}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                    <div class="twelve wide stretched ui  column">
                        <br>
                        {{!-- hna le contenu des tabs --}}
                        {{#each instance.questions}}

                        <div class="ui item attached tab {{#if @first }}active{{/if}}" data-tab="{{_id}}">
                            <h3 class="ui header">{{question}}?</h3>
                            {{!-- <input type="hidden" name="type" value="{{type}}"> --}}
                            {{#each questionReponses}}
                            <div class="segment ui">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="{{../_id}}" tabindex="0" class="hidden" value="{{_id}}">
                                        <label>{{reponse}}</label>
                                    </div>
                                </div>
                            </div>
                            {{/each}}


                        </div>

                        {{/each}}

                    </div>

                </div>
                <div class="ui segment ">
                    <h3 class="ui header center aligned green">
                        {{test.messageFin}}
                    </h3>
                </div>
                <button id="submit" type="submit" class="ui button blue"><i class="icon clipboard"></i> Envoyer les reponses
                </button>
        </form>
    </div>

    </div>

    {{!-- <div class="ui circular floated inverted blue segment">
        <h2 class="ui inverted header">
            11 min
        </h2>
    </div> --}}
</section>
<script>
        let dureeS, dureeM={{ test.duree }}-59;
    let affichageS,affichageM;
    dureeS=dureeM*60;
    let submitBtn=document.getElementById("submit");

    var x = setInterval(function () {
// khass nraja3 kolchi en sec

console.log('dureeS hna f affectation\n'+dureeS)

//ndir l7sab ze3ma nqoss une sec
--dureeS;
console.log('dureeS hna wra minus\n'+dureeS)

//o n3awd naja3 les var kimma kano
dureeM=dureeS/60;
dureeS=dureeS%60;
console.log('dureeS/60 \n'+dureeM)
dureeM=Math.floor(dureeM)
console.log('derna floor: \n'+dureeM)
console.log('hna les seconds mn wra le reste \n'+dureeS)

// hna khass n3awd njma3 dkchi f dureeS
dureeS+=dureeM*60;
console.log('akhir haja\n'+dureeS)


    var countDownDate = {{ test.duree }}* 60;
    // Get todays date and time
    //var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = dureeS+dureeM*60;

 

    // Output the result in an element with id="demo"
    document.getElementById("duree").innerHTML =
        + dureeM + "m " + dureeS%60 + "s ";

    // If the count down is over, write some text 
    if (distance == 1) {
        clearInterval(x);
        var event = document.createEvent('MouseEvent'); 
        event.initEvent('click', true, false);
        submitBtn.dispatchEvent(event);
        document.getElementById("duree").innerHTML = "Términer";
 }
}, 1000);
</script>